<div class="diamondForm">
    <div class="mt-3">
        <input type="text"
        placeholder="sugár"
        [formControl]="radius"
        class="form-control">
    </div>
    <div class="mt-3"
    >
    <input type="text"
        placeholder="hossz"
        [formControl]="height"
        class="form-control"
        (keyup)="onKeyup($event)"
        >
    </div>

    <div class="mt-3"
    *ngIf="areaVisible">
        <input type="text"
        readonly
        [formControl]="area"
        class="form-control">
    </div>
</div>

<button (click)="onClickCalcButton()" class="mt-3">Számit</button>
